*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
    font-family:ElMessiri;
    src: url("font/ElMessiri-Regular.ttf");
}
@font-face {
    font-family: Mirza-Regular;
    src: url("font/Mirza-Regular.ttf");
}
/*===========================================================================================*/
/* menu amenuBar */

.menu-bar{
    position:fixed;
    top:10px;
    width:58px;
    height:570px;
    background-image:url("https://i.pinimg.com/736x/24/6c/02/246c02f765304ee5d718143c921d923c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0 20px;
}
.menu-bar img{
    position: relative;
    width:52px;
    top:12px;
    height:40px ;
    margin-left:5px;
    cursor:pointer;
}
.menu-bar2{
    display: block;
    position:fixed;
    top:10px;
    left:58px;
    z-index:1000;
    height:570px;
    background-image:url("https://i.pinimg.com/736x/24/6c/02/246c02f765304ee5d718143c921d923c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 20px 20px 0;
}
.menu-bar2 img{
    display: none;
    position: relative;
    width:52px;
    height:40px ;
    top:12px;
    margin-left: 145px;
    cursor:pointer;
}
/* End menu amenuBar*/
/*===========================================================================================*/
.grid{
    display:grid;
    grid-template-columns: 22% 75% 3%;
    align-items: center;
    padding:8px 8px;
    border-bottom: black solid 1px;
    padding-bottom: 8px;
    margin-left: 60px;
}
.disappear-element{
    display:none;
}
/*===========================================================================================*/
/* Start Movie Name and Image */
.filmName{
    color:navy;
    padding-top:5px;
    border-bottom:.5px solid #aaa;
    height:100%;
    position: relative;
    
    }
.filmName a{	
    position: absolute;
    text-decoration: none;
    left:35px;
    top:30%;
    overflow: auto; 
}
.filmName a:visited{
    color:navy;
}
.filmName a:hover{
    color:orangered;
    font-weight: bolder;
}
/* image */
.fImage{
    top:30%;
    display:block;
    position: absolute;
    width:30px;
    height: 30px;
    border-radius:5%;
}
.fImage:hover{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    height: 300px;
}
/* End Movie Name and Image */
/*===========================================================================================*/
.whatAbout{
    margin-top:auto;
    padding: 8px;
    font-family: Mirza-Regular;
    direction: rtl;
    border-bottom:.5px solid #aaa;
}
/*===========================================================================================*/
.wTitle{
    text-align:right;
    text-decoration:navy underline double;
}
.title{
    text-decoration:navy underline double;
}
/*===========================================================================================*/
/*  الادخالى  */
.gridAdd{
    display:none;
    position: fixed;
    width: 90%;
    min-height: 500px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    grid-template-columns:20% 70% 10%;
    row-gap: 8px;
    padding: 10px 10px;
    border-radius: 25px;
    background-color : rgba(210 , 203 ,203 ,.50);
}
.txt{
    width:75%;
    height:25px;
    padding-left:10px;
    border-radius:10px;
    grid-column:2/4;
}
.txt:focus{
    outline:none;
}
.des{
    width:100%;
    grid-column:2/4;
}
label{
    color: navy;
    font-weight: bolder;
    user-select: none;
    font-family:ElMessiri;
    padding: 5px 0;
}
#is-checked{
    grid-column:2/4;
    margin-left: 5px;
}
.gridAdd button{
    max-width:350px;
    height:30px;
    grid-column:1/4;
    margin:8px 0 8px 20%;
    user-select: none;
    border-radius:5px ;
    border: none;
    outline: none;
    background-color: #aaa;
}
.gridAdd button:active{
    background-color: #888;
}
#txt-area ,#txt-area3{
    width:100%;
    height:200px;
    margin:8px 0 8px 0;
    grid-column:1/4;
}
/* Start with button open  the add form */
.btn-add{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width:60px;
    height:60px;
    background-color: #0f0;
    border-radius:50%;
    text-align: center;
    line-height: 60px;
    font-size: 38px;
    font-weight: bolder;
    color:#fff;
    cursor:pointer;
    user-select:none;
    opacity:.7;
}
.btn-add:hover{
    opacity:1;
}
/* End with button open  the add form */
/* Start with button close  the add form */
.btn-close{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 5px;
    right: 5px;
    width:30px;
    height:30px;
    background-color: rgb(187, 59, 59);
    border-radius:10%;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: bolder;
    color:#fff;
    cursor:pointer;
    user-select:none;
}
/* End with button close  the add form */
/* Start with search movies */
#movie-search{
    grid-column:1/5;
    height: 30px;
    width:50%;
}
.watched-continar label:first-of-type{
    margin-left: 60px;
}
/* End with search movies */
.head{
    width:100%;
}
/*===========================================================================================*/
@media (max-width: 1050px) and (min-width:931px){
    label.lbl-rdo{
        font-size: 14px;
        margin:0 auto ;
     }
}
@media (max-width: 930px) and (min-width:918px){
    label.lbl-rdo{
        font-size: 13px;
     }
     .watched-continar label{
        margin-left: 5px;
    }
}
@media (max-width: 917px) and (min-width:866px){
    label.lbl-rdo{
        font-size: 12px;
     }
}
@media screen and (max-width: 865px){
    .grid{
        grid-template-columns: 100%;
    }
    .watchedBox{
        display: none;
    }
    .filmName{
        border: none;
        margin: 5px auto;
        text-align: center;
    }
    .whatAbout{
        margin: 5px auto;
        text-align: center;
    }
    .title{
        margin: 5px auto;
        text-align: center;
    }
    .wTitle{
        display: none;
    }
    .filmName a{
        position: static;
        margin: 2px auto;
    
    }
    .fImage{
        position: static;
        margin: 2px auto;
    }
    .gridAdd{
        grid-template-columns:50% 50%;
    }
    .txt{
        width:100%;
    }
    .des{
        width:100%;
    }
    .head button{
        width:200px;
    }
    .lbl-rdo{
        font-size:large;
        display: inline;
        margin: auto;
    }

    #movie-search{
        display: block;
        width: 80%;
        margin-left: 60px;
    }
    .watched-continar label:nth-last-of-type(3){
        margin-left: 60px;
    }
}
@media screen and (max-width: 400px){
    .lbl-rdo{
        font-size:13px;
        margin-left: 0;
    }
}
@media screen and (max-width: 305px){
    .lbl-rdo{
        font-size:11px;
    }
}
/*
@media (max-width: 865px) and (min-width:470px){
    .gridAdd{
        grid-template-columns:50% 50%;
    }
    .txt{
        width:100%;
    }
    .des{
        width:100%;
    }
    .head button{
        width:200px;
    }
    .lbl-rdo{
        font-size:large;
        display: inline;
    }

    #movie-search{
        display: block;
        width: 90%;
        margin-left: 60px;
    }
    .watched-continar label{
        margin-left: 10px;
    }
    .watched-continar label:nth-last-of-type(3){
        margin-left: 60px;
    }
    .grid{
        grid-template-columns: 32% 65% 3%;
    }
    .filmName a{
        top:5px;

    }
    .fImage{
        top:5px;
    }

}
*/
/*
@media (max-width:469px) and (min-width:351px){
    .grid{
        grid-template-columns:42% 55% 3%;
    }
    .filmName a{
        position:static;
    }
    .fImage{
        position:static;
    }
    #movie-search{
        display: block;
        width: 82%;
        margin-left: 60px;
    }
    .watched-continar label{
        margin-left: 3px;
        font-size: 14px;
    }
    .watched-continar label:nth-last-of-type(3){
        margin-left: 60px;
    }

}
@media (max-width: 350px){
    #movie-search{
        display: block;
        width: 80%;
        margin-left: 60px;
    }
    .watched-continar label{
        margin-left: 3px;
        font-size: 12px;
    }
    .watched-continar label:nth-last-of-type(3){
        margin-left: 60px;
    }
    .grid{
        grid-template-columns: 37% 60% 3%;
    }
    .filmName a{
        position:static;
    }
    .fImage{
        position:static;
    }

}
@media (max-width: 320px){
    #movie-search{
        display: block;
        width: 80%;
        margin-left: 60px;
    }
    .watched-continar label{
        margin-left: 3px;
        font-size: 11px;
    }
    .watched-continar label:nth-last-of-type(3){
        margin-left: 60px;
    }
    .filmName a{
        position:static;
    }
    .fImage{
        position:static;
    }

}
*/
