*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
    font-family:ElMessiri;
    src: url("font/ElMessiri-Regular.ttf");
}
@font-face {
    font-family: Mirza-Regular;
    src: url("font/Mirza-Regular.ttf");
}
/*===========================================================================================*/
/* menu amenuBar */

.menu-bar{
    position:fixed;
    top:5px;
    width:58px;
    height:570px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0 20px;
}
.menu-bar-in-dark-mode-off{
    background-image:url("../image/menu_background_image.jpg");
}
.menu-bar-in-dark-mode-on{
    
}
.img{
    position: fixed;
    width:52px;
    height:52px ;
    cursor:pointer;
    user-select: none;
}
.menu-bar2{
    position:fixed;
    top:5px;
    left:58px;
    z-index:9;
    height:570px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 20px 20px 0;
}
.img-open-menu{
    top:50px;
    border-radius: 50%;
    margin-left:5px;
}
.img-close-menu{
    top:16px;
    border-radius: 50%;
    margin-left: 145px;
}
.menu-bar2-in-dark-mode-off{
    background-image:url("../image/menu_background_image.jpg");
}
.menu-bar2-in-dark-mode-on{
    
}
.menu-bar3{
    position:fixed;
    top:5px;
    left:58px;
    z-index:9;
    height:570px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 20px 20px 0;
}
.img-search{
    top:110px;
    left:5px;
    border-radius: 50%;
}
.img-close-menu-search{
    top:16px;
    border-radius: 50%;
    margin-left: 145px;
}
.menu-bar3-in-dark-mode-off{
    background-image:url("../image/menu_background_image.jpg");
}
.menu-bar3-in-dark-mode-on{
    
}


/* End menu amenuBar*/
/*===========================================================================================*/
.grid{
    display:grid;
    grid-template-columns: 22% 75% 3%;
    align-items: center;
    padding:8px 8px;
    padding-bottom: 8px;
    margin-left: 60px;
}
.grid-in-dark-mode-off{
    border-bottom: #000 solid 2px;
}
.grid-in-dark-mode-on{
    border-bottom: #fff solid 2px;
}
.disappear-element{
    display:none;
}
/*===========================================================================================*/
/* Start Movie Name and Image */
.filmName{
    padding-top:5px;
    border-bottom:.5px solid #aaa;
    height:100%;
    position: relative;
    }
.filmname-in-dark-mode-off{
    color:navy;
} 
.filmName-in-dark-mode-on{
    color:#fff;;
}  
.link-film{	
    position: absolute;
    text-decoration: none;
    left:35px;
    top:25%;
    overflow: auto; 
}
.a-in-dark-mode-on{
    color:#fff;
}
.a-in-dark-mode-on:link{
    color:#fff;
}
.a-in-dark-mode-off:visited{
    color:rgb(0, 0, 128);
}

.a-in-dark-mode-on:visited{
    color:#fff;
}
.link-film:hover{
    color:orangered;
    font-weight: bolder;
} 
/* image */
.fImage{
    top:20%;
    display:block;
    position:absolute;
    width:30px;
    height:30px;
    border-radius:5%;
}
.fImage:hover{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    height: 300px;
}
/* End Movie Name and Image */
/*===========================================================================================*/
.whatAbout{
    margin-top:auto;
    padding: 8px;
    font-family: Mirza-Regular;
    direction: rtl;
    border-bottom:.5px solid #ccc;
}
div:nth-last-child(2),div:nth-last-child(3){
    border-bottom:none;
}
.whatAbout-in-dark-mode-off{
    color:#000;
}
.whatAbout-in-dark-mode-on{
    color:#fff;
}

/*===========================================================================================*/
.wTitle{
    text-align:right;
    
}
.wTitle-in-dark-mode-off{
    color:#000;
    text-decoration:navy underline double;
}
.wTitle-in-dark-mode-on{
    color:#fff;
    text-decoration:#eee underline double;
}
.title-in-dark-mode-off{
    color:#000;
    text-decoration:navy underline double;
}
.title-in-dark-mode-on{
    color:#fff;
    text-decoration:#eee underline double;
}
/*===========================================================================================*/
/*  الادخالى  */
.gridAdd{
    display:none;
    overflow: auto;
    width: 90%;
    margin-left: 50%;
    transform:translate(-50%, 5%);
    grid-template-columns:25% 75%; 
    row-gap: 8px;
    padding: 10px 10px;
    border-radius: 25px 5px 25px 25px;
    background-color : rgba(210 , 203 ,203 ,.50);
}
.txt{
    width:95%;
    height:25px;
    padding-left:10px;
    grid-column:1/4;
    border-radius: 10px;
    box-shadow: -2px 2px 5px 0px #888;

}
.txt:focus,.cbx-kind-movie{
    outline:none;
}
.cbx-kind-movie{
    grid-column:2/4;
}
.des{
    width:100%;
    grid-column:1/4;
}
label{
    color: navy;
    font-weight: bolder;
    user-select: none;
    font-family:ElMessiri;
}
.lbl-all{
    grid-column:1/4;
    width: fit-content;
}
.lbl-movie-check,.lbl-movie-kind{
    grid-column:1/2;
}
#is-checked{
    grid-column:2/3;
    margin-left: -10px;
}
.btn-in-form{
    display: block;
    max-width:350px;
    font-weight: bolder;
    width:90%;
    height:40px;
    padding: 5px;
    user-select: none;
    border-radius:5px ;
    border: none;
    outline: none;
    background-color: #aaa;
}
.gridAdd button:active{
    background-color: #888;
}
#txt-area ,#txt-area3{
    width:100%;
    height:200px;
    margin:8px 0 8px 0;
    grid-column:1/4;
}
/* Start with button open  the add form */
.btn-add{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width:60px;
    height:60px;
    background-color: #0f0;
    border-radius:50%;
    text-align: center;
    line-height: 60px;
    font-size: 38px;
    font-weight: bolder;
    color:#fff;
    cursor:pointer;
    user-select:none;
    opacity:.7;
    z-index: 11;
}
.btn-add:hover{
    opacity:1;
}
/* End with button open  the add form */
/* Start with button close  the add form */
.btn-close{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0px;
    right: 0px;
    width:30px;
    height:30px;
    background-color: rgb(187, 59, 59);
    border-radius:0 0 0 50% ;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: bolder;
    color:#fff;
    cursor:pointer;
    user-select:none;
}
/* End with button close  the add form */
/* Start with search movies */
#movie-search{
    display: block;
    grid-column:1/5;
    height: 30px;
    width:100%;
    border-radius: 10px;
    box-shadow: -2px 2px 5px 0px #888;
    outline: none;
}
#movie-search:active{
    outline: none;
}
.watched-continar{
    margin-left: 60px;
}
.lbl-rdo{
    margin-left: 5%;
    font-size: 100%;
}
.lbl1{
    margin-left: 5px;
}
.rdo-watched-continal{

}

/* End with search movies */
.head{
    width:100%;
}
/*===========================================================================================*/
/* Start Dark Mode */
.dark-mode-stick{
    width:50px;
    height: 15px;
    background-color: #ccc;
    border-radius: 20px;
    color:navy;
    font-size: 13px;
    line-height: 15px;
    padding-right: 2px;
    text-align: right;
    position: fixed;
    top:25px;
    left:5px;
}
.dark-mode-off{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    position: fixed;
    top:20px;
    left:3px;
    text-align: center;
    line-height: 25px;
}
.dark-mode-on{
    display: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    position: fixed;
    top:20px;
    left:30px;
    text-align: center;
    line-height: 25px;
}
/* End Dark Mode */
/*===========================================================================================*/
/*@media (max-width: 1050px) and (min-width:931px){}*/
@media screen and (max-width: 865px){
    .grid{
        grid-template-columns: 100%;
    }
    .title{
        margin: 5px auto;
        text-align: center;
    }
    .wTitle{
        display: none;
    }
    .filmName{
        border: none;
        
        text-align: center;
    }
    .fImage{
        margin: auto;
        margin-bottom: 15px;
        position: static;
        width: 60px;
        height:60px ;
    }
    .link-film{
        position: static;
        border: 1px solid #ccc;
        overflow: hidden;
        display: inline-block;
        padding: 7px;
        border-radius: 20px;
    }
    .link-film:visited{
        

    }
    .link-film:link{

        
    }
    .a-in-dark-mode-on{
        color:rgb(11, 14, 49);
        background-color: #aaa;
        box-shadow: -3px 3px 2px 0px #777;
    }
    .a-in-dark-mode-off{
        box-shadow: -2px 1px 2px 0px #888;
    }
    .a-in-dark-mode-on:link{
        color:rgb(11, 14, 49);
        background-color: #aaa;

    }
    .a-in-dark-mode-on:visited{
        color:rgb(11, 14, 49);
        background-color: #aaa;
    }
    .whatAbout{
        margin: 15px auto;
        text-align: center;
        width: 100%;
    }
    .watchedBox{
        display: none;
    }

    .txt{
        width:100%;
    }
    .des{
        width:100%;
    }
    .btn-in-form{
    
    }
}
@media screen and (max-width: 440px){
    .gridAdd{
        grid-template-columns:30% 70%; 
    }
}
@media screen and (max-width: 390px){
    .lbl-rdo{
       
      margin-left: 2%;
    }
    .lbl1{
        margin-left:5px;
    }
    .gridAdd{
        grid-template-columns:35% 65%; 
    }
}
@media screen and (max-width: 365px){
    .lbl-rdo{
       font-size: 80%;
      margin-left: 0.5%;
    }
    .lbl1{
        margin-left:5px;
    }
    .gridAdd{
        grid-template-columns:40% 60%; 
    }
}
@media screen and (max-width: 310px){
    .lbl-rdo{
       font-size: 65%;
    }
    .gridAdd{
        grid-template-columns:45% 55%; 
    }
}

